#button-play{
    border: 1px solid white;
    box-shadow: inset 0px 0px 3px 0px;
}

.grid{
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
}

.cell{
    border: 2px solid pink;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.cell.selected{
    background-color: lightblue;
}

.score-card{
    padding: 1rem;
    border-radius: 13px;
    text-align: center;
    align-self: flex-start;
    border: 1px solid white;
    box-shadow: inset 0px 0px 3px 0px;
}